/*
* @Author: wine
* @Date:   2018-01-17 14:34:15
* @Last Modified by:   Administrator
* @Last Modified time: 2018-01-20 10:13:49
*/
/*清除浏览器默认样式  */
*{
	margin: 0;
	padding: 0;
}
body{
	background: #f5f5f5;
}
.screen{
	width: 100%;
	height: 13.77rem;
	background: url(../img/screen.png) no-repeat left bottom,-webkit-linear-gradient(top,#3cbeff,#47e7ff);
	background-size: contain;
}
.header{
	width: 100%;
	height: 1.58rem;
	
	font-size: 0.6rem;
	font-weight: bold;
	color: #fff;
	/* 文字水平居中 */
	text-align: center;
	line-height: 1.58rem;
}
.screen .box{
	width: 2.1rem;
	height: 1.26rem;
	background: rgb(241,171,98);
	border-radius: 0.19rem;
	margin-left: 0.27rem;
	margin-top: 0.16rem;
	/* 内填充 */
	padding-top: 0.1rem;
	/* 自定义盒模型，解决填充盒子变大问题 */
	box-sizing: border-box;
}
.screen .box h2{
	font-size: 0.3rem;
	color:#fff;
	text-align: center;
}
.screen .box h3{
	font-size: 0.36rem;
	color: #fff;
	text-align: center;
}
.screen .wendu{
	width: 100%;
	height: 1.3rem;
	font-size: 1.3rem;
	color: #fff;
	text-align: center;
	margin-top: 0.51rem;
}
.screen .tianqi{
	width: 100%;
	height: 0.58rem;
	font-size: 0.58rem;
	color: #fff;
	font-weight: bold;
	text-align: center;
	margin-top: 0.46rem;
}
.screen .shidu{
	width: 100%;
	height: 0.36rem;
	font-size: 0.36rem;
	color: #fff;
	text-align: center;
	margin-top: 0.34rem;
}
.screen .tixing{
	width: 100%;
	height: 0.5rem;
	font-size: 0.5rem;
	color: #fff;
	text-align: center;
	margin-top: 1.27rem;
}
.con1{
	width: 100%;
	height: 2.94rem;
	background: #fff;
	border-bottom: 0.03rem solid #e4e4e4;
	padding-top: 0.72rem;
	padding-left: 0.58rem;
	box-sizing: border-box;
}
.content{
	width:4.85rem;
	height: 1.85rem;
	border-right: 0.03rem solid #e4e4e4;
	padding-right: 0.59rem;
	box-sizing: border-box;
	float: left;
}
/* 后代选择器  伪类选择器
	nth-child（？）第几个孩子
	first child选中第一个孩子
	last child最后一个孩子
 */
.con1 .content:nth-child(2){
	padding-right: 0;
	border-right: none;
	padding-left: 0.59rem;
}
.content .top{
	width: 100%;
	height: 0.59rem;
	/* 弹性布局 */
	display: flex;
	/* 两端对齐 */
	justify-content: space-between;
}
.content .top .day{
	font-size: 0.38rem;
	color: #434343;
	line-height: 0.59rem;
}
.content .top .tem{
	font-size: 0.3rem;
	color: #434343;
	line-height: 0.59rem;	
}
.content .buttom{
	width: 100%;
	height: 0.86rem;
	display: flex;
	justify-content: space-between;
}
.content .buttom .temp{
	font-size: 0.36rem;
	color: #434343;
	line-height: 0.86rem;
}
.content .buttom .pic{
	width: 0.48rem;
	height: 0.48rem;
	margin-top: 0.2rem;
	/* 禁止重复 */
	background-repeat:no-repeat; 
	background-size: 0.48rem 0.48rem;
}
.con2{
	width: 100%;
	height: 3.9rem;
	margin-top: 0.27rem;
	border-top: 0.03rem solid #e4e4e4;
	border-bottom: 0.03rem solid #e4e4e4;
	background: white;
	/* 上右下左填充 */
	padding: 0.9rem 0 0.8rem 0;
	box-sizing: border-box;
	/* 超出部分已滚动条方式滚动 */
	overflow-x: auto;
}
/* 隐藏滚轮 */
.con2::-webkit-scrollbar{
	height: 0;
}
.con2 .wrap{
	height: 100%;
	/*水平放置*/
	display: flex;

}
.con2 .wrap .now{
	width: 1.68rem;
	height: 100%;
	/* 禁止缩小 */
	flex-shrink: 0;
	 /* 水平放置轴 */
	display: flex;
	/* 更改默认，改为垂直轴 */
	flex-direction: column;
	/* 设置轴居中 */
	justify-content:space-between ;
}
.con2 .wrap .now .now_time{
	font-size:0.24rem;
	color:#999999 ;
	/* 设置字体居中 */
	text-align: center;
	/* 去除标题的加粗 */
	font-weight: normal;
}
.con2 .wrap .now .now_pic{
	height: 1rem;
	width: 1rem;
	background-repeat:no-repeat;
	background-size:1rem,1rem;
	/* 设置div图片居中 */
	margin: 0 auto;
}
.con2 .wrap .now .now_temp{
	font-size:0.28rem;
	color:#333333;
	text-align: center;
	font-weight: normal;
}
.con3{
	width: 100%;
	height: 10rem;
	margin-top: 0.27rem;
	border-top: 0.03rem solid #e4e4e4;
	border-bottom: 0.03rem solid #e4e4e4;
	background: white;
	/* 上右下左填充 */
	padding: 1.2rem 0 0.94rem 0;
	box-sizing: border-box;
	/* 超出部分已滚动条方式滚动 */
	overflow-x: auto;	
}
.con3::-webkit-scrollbar{
	height: 0;
}
.con3 .wrap{
	height: 100%;
	/*水平放置*/
	display: flex;
}
.con3 .wrap .recent{
	width: 2.52rem;
	height: 100%;
	/* 禁止缩小 */
	flex-shrink: 0;
	 /* 水平放置轴 */
	display: flex;
	/* 更改默认，改为垂直轴 */
	flex-direction: column;
	/* 设置轴居中 */
	justify-content:space-between ;
}
.con3 .wrap .recent .recent_time{
	font-size: 0.24rem;
	color:#888888;
	text-align: center;
	font-weight: normal;
}
.con3 .wrap .recent .recent_wea{
	font-size: 0.36rem;
	color:#888888;
	text-align: center;
	font-weight: normal;
}
.con3 .wrap .recent .recent_pic{
	width: 2rem;
	height: 2rem;
	background-repeat:no-repeat;
	background-size:2rem 2rem ;
	margin: 0 auto;
}
.con3 .wrap .recent .recent_high{
	font-size:0.28rem ;
	color:#888888;
	text-align: center;
	font-weight: normal;
}
.con3 .wrap .recent .recent_low{
	font-size:0.28rem ;
	color:#888888;
	text-align: center;
	font-weight: normal;
}
.con3 .wrap .recent .recent_wind{
	font-size:0.30rem ;
	color:#888888;
	text-align: center;
	font-weight: normal;
}
.con3 .wrap .recent .recent_level{
	font-size:0.30rem ;
	color:#888888;
	text-align: center;
	font-weight: normal;
}
.city_box{
	width: 100%;
	height: 20rem;
	background:#fff;
	/* 对该选择城市页面的定位 */
	position: absolute;
	top: 0;
	left: 0;
	overflow-y: auto;
}
.city_box .sousuo_box{
	width: 100%;
	height: 1.26rem;
	padding:0.18rem 0.49rem 0.18rem 0.35rem;
	border-bottom: 0.03rem;
	box-sizing: border-box;	
	display: flex;
	justify-content: space-between;
}
.city_box .sousuo_box .search_box{
	width: 8.62rem;
	height: 0.86rem;
	background: #f2f2f2;
	border-radius: 0.43rem;
}
.city_box .sousuo_box .button_box{
	font-size:0.36rem ;
	color:#434343 ;
	line-height: 0.9rem;
}
.icon{
	font-size: 0.6rem;
	float:left;
	margin-top: 0.15rem; 
	margin-left: 0.1rem;
}
.text{
	height: 100%;
	width: 7.2rem;
	background:#f2f2f2;
	border:none;
	float:left;
	padding-left: 0.28rem;
	box-sizing: border-box;

}
/* 获取焦点 */
.text:focus{
	outline:none;
}
.city{
	width: 100%;
	height: 14rem;
	padding:0.24rem 0.35rem 0 0.36rem;
	box-sizing: border-box;

}
.city .title{
	width: 100%;
	height: 1.16rem;
	font-size:0.38rem;
	color: #434343;
	line-height: 1.16rem;
	/* 字间距 */
	letter-spacing: 0.03rem;
}
.city .con{

	width: 100%;
	height: auto;
	/* 超出部分隐藏 */
	overflow:hidden;
}
.city .con .son{
	width: 3.17rem;
	height: 0.81rem;
	background: #f2f2f2;
	border-radius: 0.4rem;
	font-size:0.32rem;
	color: #434343;
	line-height: 0.81rem;
	text-align: center;
	float:left;
	margin:0 0.25rem 0.21rem 0;
}
.city .con .son:nth-child(3n){
	margin-right: 0;
}